* {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.map {
  height: 100vh;
}
.marker {
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-marker {
  cursor: pointer;
}
.table {
  padding: 10px;
  width: 90px;
  height: 170px;
  background-color: white;
  float: right;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
}
.form {
  width: 390px;
  height: 30px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}
